<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Board List</title>
</head>
<body>
    <h1>Board List</h1>
    <div sec:authorize="isAuthenticated()">
        <p>Welcome, <span sec:authentication="name">User</span>!</p>
        <a href="/logout">Logout</a>
    </div>
    <div sec:authorize="!isAuthenticated()">
        <p>You are not authorized to view this page.</p>
        <a href="/login.html">Login</a>
    </div>
</body>
</html>