<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Join Page</h1>
    <form action="joinProc" method="post" name="joinForm">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" value="member" required />
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" value="12345" required />
        </div>
        <div>
            <button type="submit">Join</button>
        </div>
    </form>
</body>
</html>