#board-write-wrapper {
  border-top: 2px solid rgba(0, 0, 0, 1);
  display: flex;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.05);
}

.board-write-container {
  padding: 100px 24px;
  width: 990px;
  min-height: 1900px;
  background-color: rgba(255, 255, 255, 1);
}

.board-write-box {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.board-write-title-box {
  width: 100%;
}

.board-write-title-textarea {
   /* 브라우저 기본 스타일 (Browser Default Styles): HTML 폼 요소들 (textarea, input, button, select 등)은 
      종종 브라우저 자체의 기본 스타일(user-agent stylesheet)을 가집니다. 이 기본 스타일에는 font-family도 
      포함될 수 있으며, 이 기본 폰트가 body 태그로부터 상속받는 폰트보다 우선 적용될 수 있습니다. 
      즉, body에 Pretendard-Regular를 설정했더라도 textarea는 브라우저의 기본 폰트를 사용하려고 할 수 있다. 
      
      font-family를 상속받는 방법과 font-family: 'Pretendard-Regular', sans-serif;처럼 직접 폰트 지정하는 방법법이 있다.
   */
  font-family: inherit; /* 상속받는 방법 */
  width: 100%;
  
  border: none;
  outline: none;
  background: none;
  resize: none;
  
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  font-weight: 500;
  line-height: 140%;
  
}
  
.board-write-content-box {
  width: 100%;
  
  display: flex;
  gap: 16px;
}

.board-write-content-textarea {
  font-family: 'Pretendard-Regular', sans-serif; /* 직접 폰트 지정하는 방법법 */
  flex: 1;
  
  border: none;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
  outline: none;
  background: none;
  resize: none;

  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
  font-weight: 10;
  line-height: 140%;  
}

.board-write-images-box {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 20px;
  
}

.board-write-image-box {
  width: 100%;
  position: relative;
}

.board-write-image {
  width: 100%;
  height: 500px;
}

.image-close {
  position: absolute;
  top: 20px;
  right: 20px;
}
